<!DOCTYPE html>
<html lang="en">
<head>

     <title>Nelover's Resume - Profile HTML Page</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="../static/css/bootstrap.min.css">
     <link rel="stylesheet" href="../static/css/all.min.css">
     <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
     <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="../static/css/tooplate-ben-resume-style.css">
<!--
Tooplate 2120 Ben Resume
https://www.tooplate.com/view/2120-ben-resume
-->
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <a class="navbar-brand" href="#">
              🌻 Nelover Resume
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="index.html#intro" class="nav-link smoothScroll">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a href="index.html#about" class="nav-link smoothScroll">About Me</a>
                    </li>

                    
                    <li class="nav-item">
                        <a href='./index.html#projects' class="nav-link smoothScroll active">Projects</a>
                    </li>

                    <li class="nav-item">
                        <a href="index.html#testimonials" class="nav-link smoothScroll">Reviews</a>
                    </li>

                    <li class="nav-item">
                        <a href="index.html#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <div class="mt-lg-0 mt-3 mb-4 mb-lg-0">
                    <a href="#" class="custom-btn btn" download>Download CV</a>
                </div>
            </div>

        </div>
    </nav>


    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

         <div class="container">
            <div class="row mt-5" id="proj1">

                  <div class="mx-auto col-lg-5 col-md-5 col-10">
                      <img src="../static/images/works/jinan.png" class="about-image img-fluid" alt="Ben Resume HTML Template">
                  </div>
                   <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                        <div class="hero-text">

                            <h3 class="mb-4">Jinan Application</h3>

                            <p class="text-justify">The Jinan app serves as a bridge between parents and 
                                their children's teachers. Parents can access features like attendance records, 
                                homework assignments, and kindergarten activities. Meanwhile, teachers can use the 
                                app to assign homework and communicate with parents. It's a convenient tool for 
                                staying updated and involved in a child's education.
                            </p>

                          
                        </div>
                    </div>
            </div>
            <div class="row mt-5 "  id="proj2">

                <div class="d-flex flex-column justify-content-center col-lg-6 col-md-6 col-12" >
                
                        <h3 class="mb-4">Evalu-8 Application</h3>
                        <p class="text-justify">Evalu-8 app is a rating system is to provide a 
                            way to evaluate and compare different items, 
                            such as products, services, or content, 
                            based on users experiences and their reviews.
                          </p>
                    
                </div>

                <div class="mx-auto col-lg-5 col-md-5 col-10">
                    <img src="../static/images/works/Evalu8.png" class="about-image img-fluid" alt="Ben's Resume HTML Template">
                </div>

            </div>
            <div class="row mt-5"  id="proj3">

                <div class="mx-auto col-lg-5 col-md-5 col-10">
                    <img src="../static/images/works/Bamo.png" class="about-image img-fluid" alt="Ben Resume HTML Template">
                </div>
                 <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                      <div class="hero-text">

                          <h3 class="mb-4">Bamo Application</h3>

                          <p class="text-justify">Bamo app caters to two user groups: employers who 
                            can post job listings, and employees who can find suitable employment 
                            opportunities. Its features include job type classification such as 
                            full-time, part-time, or freelance positions. Acting as a bridge between 
                            employers and employees, Bamo boasts an appealing design with seamless 
                            animations for user interaction.

                          </p>

                        
                      </div>
                  </div>
          </div>
        </div>
    </section>



     <!-- SCRIPTS -->
     <script src="../static/js/jquery.min.js"></script>
     <script src="../static/js/bootstrap.min.js"></script>
     <script src="../static/js/smoothscroll.js"></script>
     <script src="../static/js/owl.carousel.min.js"></script>
     <script src="../static/js/custom.js"></script>

</body>
</html>